$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$color-main: #a33136 !default;
$color-sec: #31a39e !default;
$color-sec2: #9e31a3 !default;
$dark-gray: #333 !default;
$light-gray: #ddd !default;

$grey: #eaeaea;

$background-color: #acacb6;
