h1.homy {
  padding: 10px;
  margin: 34px 0;
  font-size: em(30);

  @include breakpoint($mobile){
    padding: 20px 10px;
    margin: 54px 0;
    font-size: em(50);
  }
}

.filters {
  background: rgba(0,0,0,.5);
  float: left;
  padding: 20px 5px;


  .form {
    input {
      padding: 1.5em;
    }

    button {
      height: 74px;
      text-align: center;

      i {
        color: $white;
      }
    }

    p, button {
      float: left;
      position: relative;
      width: 100%;

        i {
          @include position(absolute, 10px 10px null null);
          z-index: 2;
        }
    }

    @include breakpoint($tablet){
      #pass {
        width: (100% / 6);
      }

      .destination_airport, .location_airport, #dept-date {
        width: (100% / 5);
      }

      button {
        width: 23%;
      }
    }
  }
}

#search-results {
  float: left;
  margin-top: 15px;
  width: 100%;

  h4 {
    color: $white;
    text-align: right;

    i {
      color: $white;
    }
  }

  ul {
    max-height: 500px;
    overflow-y: scroll;
    li {
      div.single-flight {
        background: transparentize($white, .2);
        float: left;
        padding: 15px 10px;
        position: relative;
        width: 100%;

        span {
          color: darken($grey, 30%);
          display: inline-block;
          float: left;

          &.airline {
            text-align: center;
            width: 100%;

            img {
              display: block;
              margin: 0 auto;
              width: 33%;
            }

            small {
              color: $grey;
              display: block;
              font-size: 60%;
              text-align: center;
            }
          }

          &.to {
            @include position(relative, 29px null null null);
            width: 0%;

            i {
              color: $grey;
              text-shadow: -5px 0 0 lighten($grey, 20%), -10px 0 0 lighten($grey, 30%);
            }
          }

          &.dtimes, &.price, &.atimes {
            font-size: em(16);
            position: relative;
            text-align: center;
            width: 50%;

            time, small {
              color: $grey;
              display: block;
              text-align: center;
            }

            time {
              font-size: em(24);
              font-weight: bold;

              > small {
                font-size: 14px;
                @include position(relative, null null null null);
              }
            }

            small {
              font-size: em(11);
            }
          }

          &.price {
            font-size: em(25);
            font-weight: bold;
            text-align: center;
            top: 18px;
            width: 100%;
          }
        }

        button {
          @include position(relative, 18px null null null);
          display: block;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  @include breakpoint($tablet){
    ul {
      li {
        div.single-flight {
          span {
            &.airline {
              width: 20%;
            }

            &.to {
              @include position(relative, 29px null null null);
              width: auto;
            }

            &.dtimes, &.price, &.atimes {
              width: 20%;
              time > small {
                  @include position(absolute, 7px -8px null null);
              }
            }
          }

          button {
            @include position(relative, 18px null null null);
            width: auto;
          }
        }
      }
    }
  }
}



.twitter-typeahead {
  width: 100%;

  .tt-menu {
    background-clip: padding-box;
    background-color: $white;
    margin-top: 2px;
    min-width: 160px;
    padding: 5px 0;
    width: 200%;

    .tt-dataset {

      .tt-suggestion {
        display: block;
        margin: 0;
        padding: 3px 20px;

        span {
          font-size: em(12);

          .tt-highlight {
            font-weight: bold;
          }
        }

        &:hover {
          background-color: $color-sec;
          color: $white;

          span, .tt-highlight {
            color: $white;
          }
        }
      }

      .tt-cursor {
        background-color: $color-sec;
        color: $white;

        span, .tt-highlight {
          color: $white;
        }
      }

      #typeahead-footer {
        color: darken($grey, 60%);
        display: block;
        font-weight: 700;
        height: auto;
        padding: 3px 20px;
        &:hover {
          color: $color-main
        }
      }
    }

    &:hover {
      @include prefixer(cursor, pointer, webkit moz);
    }
  }
}
