.form {
  margin: 0 auto;

  .errors {
    background: $color-main;
    li {
      color: $white;
      padding: 10px;
      i {
        color: $white;
      }
    }
  }

  form {
    float: left;
    padding: 10px;
    width: 100%;
    background-color: $white;

    .submit {
      margin-top: $small-spacing;
    }

    @include breakpoint($tablet) {
      padding: 20px;
      width: 100%;
    }
  }

  label.error {
    background-color: $color-main;
    color: $white;
    font-size: em(14);
    padding: 3px;
    @include position(relative, null null null null);
		&:after {
      border: solid transparent;
			bottom: 100%;
			content: ' ';
			height: 0;
			pointer-events: none;
			position: absolute;
			right: 0;
			width: 0;
		}
    &:after {
      border-color: rgba(0, 0, 0, 0);
      border-bottom-color: $color-main;
      border-width: 5px;
      margin-left: -5px;
    }
  }

  input.error, .field_with_errors > input {
    background-color: lighten($color-main, 50%) !important;
    border: 1px solid $color-main;
    box-shadow: 0 0 5px $color-main;
  }
}
