.header {
  $white: #fff;
  $op: .3;

  @include container(1140px);
  height: 100px;
  @include position(relative);

  .logo {
    @include span(4.5 of 10 no-gutters wide);
    @include position(relative);

    a {
      float: left;
      width: 100%;
    }

    a > img {
      float: left;
      max-width: 229px;
      min-width: 160px;
      width: 100%;
    }
  }
}

.account {
  @include position(fixed, 0 0 0 null);
  background: $white;
  height: 100%;
  list-style: none;
  width: 100%;
  z-index: 0;

  ul.ze-menu {
    float: right;
    width: 200px;

    nav {
      color: $color-sec;
      display: block;
      font-weight: bold;
      padding: 20px 0;
      text-align: center;
      width: 100%;
    }

    li {
      a {
        border-bottom: 1px solid $grey;
        display: block;
        padding: 10px 10px 10px 20px;
        text-align: left;
        width: 100%;

        i, span {
          color: $color-sec;
        }
      }

      label {
        color: $color-sec;
        display: block;
        padding: 10px 10px 10px 20px;
        margin-top: 0;

        i, span {
          color: $color-sec;
        }
      }

      &:hover {
        a {
          background-color: $color-sec;
          color: $white;

          i, span, a {
            color: $white;
          }
        }

        label {
          background-color: $color-sec;

          i, span {
            color: $white;
          }
        }
      }
    }
  }
}

.nav-trigger {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

label[for="nav-trigger"] {
  @include position(fixed, 15px 25px null null);
  background-size: contain;
  cursor: pointer;
  z-index: 2;

  i {
    color: $white;
    font-size: em(30);
    font-weight: bold;
  }
}

.nav-trigger:checked + label {
  right: 225px;

}

.nav-trigger:checked ~ .wrap {
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  right: 200px;
}

.nav-trigger + label, .wrap {
  transition: right 0.2s;
}
