.header {
  $white: #fff;
  $op: .3;

  @include container(1140px);
  height: 100px;
  @include position(relative);

  .logo {
    @include span(7 of 10 no-gutters wide);
    @include position(relative);
    background-color: $white;

    a {
      float: left;
      width: 100%;
    }

    a > img {
      float: left;
      max-width: 229px;
      min-width: 180px;
      width: 100%;
    }
  }

  .account {
    margin: 0;
    height: 51.7031px;

    @include span(3 of 10 last);

    a {
      border: 3px solid $white;
      color: $white;
      float: left;
      font-size: em(19);
      padding: 8.5px 0;
      text-align: center;
      width: 100%;
      height: 100%;

      i {
        color: $white;
      }

      &:hover {
        background-color: $color-sec;
        border-color: $color-sec;
        color: $white;
      }
    }
  }

}
