.header {
  $white: #fff;
  $op: .3;

  @include container(1140px);
  height: 100px;
  @include position(relative);

  .logo {
    @include span(4.5 of 10 no-gutters wide);
    @include position(relative);

    a {
      float: left;
      width: 100%;
    }

    a > img {
      float: left;
      max-width: 229px;
      min-width: 160px;
      width: 100%;
    }
  }

  .account {
    margin: 0;
    height: 40.6406px;

    @include span(5 of 10 last);

    a {
      border: 1px solid $white;
      color: $white;
      float: left;
      font-size: em(13);
      height: 81%;
      margin: 5px 3px;
      padding: 7px 0;
      text-align: center;
      width: 45%;

      i {
        color: $white;
      }

      &:hover {
        background-color: $color-sec;
        border-color: $color-sec;
        color: $white;
        @include transition(all .3s ease-in-out);
      }

      @include breakpoint($mobile){
        font-size: em(15);
        padding: 3px 0;

        &.login-btn {
          border: 0 !important;
        }
      };
    }
  }
}
